.videoAlign {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.bookMarkLink{
  text-align: center;
  color:blue;
  text-decoration: underline;
  margin-top: 3rem;
}
.bookMarkLink a{
  font-size: 1rem;
}
.bookMarkLink:hover{
  cursor: pointer;
}
