.footer {
    left: 0;
    bottom: 0;
    right: 0;
    margin: 2rem auto 0 auto;
    padding: 1rem 0 1rem 0;
    text-align: center;
}

.gregInsta,
.rebeccaInsta {
    height: 60px;
    width: 60px;
    position: relative;
    display: inline-block;
    margin: 0.5rem 1rem;
}

.gregInsta IMG,
.rebeccaInsta IMG {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s;
}

.gregInsta2:hover,
.rebeccaInsta2:hover {
    opacity: 0;
}

.gregInsta2,
.rebeccaInsta2 {
    opacity: 1;
}

.logOutButton {
    display: flex;
    justify-content: center;
    margin: 1rem 0px 1rem 0px;
}


.button {
    margin: 0px 1rem;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
}

.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover {
    color: #fff;
    cursor: pointer;
}

.button:hover:before {
    width: 100%;
}

* {
    font-family: Arial;
    text-decoration: none;
    font-size: 20px;
}

.button:focus {
    border: none !important;
    outline: none !important;
}

.button:active {
    transform: scale(.75)
}